---
title:
call_to_action: Tickets
background_image_path:
large_header: true
testimonials:
- message: This choir produces wonderful music and entertainment!! Well worth your time.
  image: /images/testimonials/valerie-jean.jpg
  name: Valerie Jean
- message: Very nice performance. I plan on attending the next performance.
  image: /images/testimonials/valerie-opie.jpg
  name: Valerie Opie
- message: Brings a beautiful message with wonderful music.
  image: /images/testimonials/moses-steimle.jpg
  name: Moses Steimle
- message: A fantastic professional chorale!! They put on great concerts to raise money that in turn goes to charitable services and opportunities. Awesome Chorale and can't wait to hear more from them!
  image: /images/testimonials/dallin-heward.jpg
  name: Dallin Heward
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
  <p>{{ site.data.company.description }}</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
