---
title:
call_to_action: Donate
background_image_path:
large_header: true
testimonials:
  - message: We love the Arizona Saints Chorale! Concerts are so inspiring.
    image: "https://placekitten.com/g/60/60?a=.png"
    name: John Doe
  - message: These are some great kids doing great things in the world.
    image: "https://placekitten.com/60/60?a=.png"
    name: Jane Doe
  - message: I can't wait for their first album!!!
    image: "https://placebear.com/60/60?a=.png"
    name: Jim Doe
_options:
  image:
    width: 60
    height: 60
---

<div class="editable">
  <p>A 501(c)(3) <strong>choral group</strong> raising awareness for <a href="https://www.facebook.com/profile.php?id=100069341468507">noble charities</a> in the area.</p>
</div>

<div class="testimonials">
	{% for testimonial in page.testimonials %}
		<blockquote class="testimonial">
			<p class="testimonial-message">{{ testimonial.message }}</p>
			<p class="testimonial-author"><img src="{% include relative-src.html src=testimonial.image %}" alt="Photo of {{ testimonial.name }}"> {{ testimonial.name }}</p>
		</blockquote>
	{% endfor %}
</div>
