---
layout: default
title: Press
call_to_action: Contact
background_image_path:
large_header: false
show_in_navigation: true
navigation_order: 4
---

{% include page-header.html title="Press Releases" %}

<p>
  We welcome messages from the media at <a href="mailto:{{ site.data.company.press_email_address }}">{{
    site.data.company.press_email_address }}</a>
</p>

<p class="editor-link"><a href="cloudcannon:collections/_press" class="btn"><strong>&#9998;</strong> Update Posts</a></p>

<ol class="post-list">
  {% assign press = site.press | reverse %}
	{% for item in press %}
		{% include post-summary.html post=item %}
	{% endfor %}
</ol>
