<li class="post-summary">
  {% include post-image.html %}

	<div class="post-summary-content {% if include.post.image %}has-post-summary-image{% endif %}">
		<h3 class="post-summary-title"><a href="{{ site.baseurl }}{{ include.post.url }}">{{ include.post.title }}</a></h3>
    {% case include.summary_type %}
      {% when "concert" %}
        {% include concert-summary-details.html post=include.post %}
      {% else %}
        {% include post-summary-details.html post=include.post %}
    {% endcase %}

    <p class="post-summary-excerpt">{{ include.post.excerpt | remove: '<p>' | remove: '</p>' }}</p>
	</div>

</li>
