$color-background: #511314;
$color-onbackground: #cfd8dc;
$color-shadow: rgba(53, 11, 11, 0.2);
$color-surface: #821d1d;
$color-onsurface: #cfd8dc;
$color-link: #fae17d;
$color-link-hover: #bf8700;

$color-background-dark: #a82525;
$color-shadow-dark: rgba(0, 0, 0, 0.5);
$color-surface-dark: #c1c1c1;
$color-onsurface-dark: #efefef;